@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-newspaper {
    --color-primary-main: 15 23 42;

    --color-text-body: 15 23 42;
    --color-text-heading: 15 23 42;
    --color-text-bold: 15 23 42;
    --color-text-muted: 100 116 139;
    --color-text-link: 51 154 240;
    --color-text-code: 0 0 0;
    --color-text-selection: 0 0 0;

    --color-bg-body: 255 255 255;
    --color-bg-code: 254 243 199;
    --color-bg-selection: 226 232 240;
    --color-bg-card: 230 230 230;
    --color-bg-card-muted: 205 205 205;

    --color-border-code: 244 244 245;
    --color-border-base: 236 233 233;
  }

  .theme-newspaper.dark {
    --color-primary-main: 255 255 255;

    --color-text-body: 229 229 229;
    --color-text-heading: 255 255 255;
    --color-text-bold: 255 255 255;
    --color-text-muted: 212 212 212;
    --color-text-link: 51 154 240;
    --color-text-code: 255 255 255;
    --color-text-selection: 0 0 0;

    --color-bg-body: 33 39 55;
    --color-bg-code: 234 179 8;
    --color-bg-selection: 255 255 255;
    --color-bg-card: 52 63 96;
    --color-bg-card-muted: 138 51 2;

    --color-border-code: 64 64 64;
    --color-border-base: 171 75 8;
  }

  :root {
    @apply overflow-y-scroll scroll-smooth bg-bg-body font-body text-xl text-text-body;
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    @apply w-3;
  }
  ::-webkit-scrollbar-track {
    @apply bg-bg-body;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-bg-card;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-bg-card-muted;
  }

  strong {
    @apply font-semibold text-text-bold;
  }

  mark {
    @apply bg-bg-selection text-text-selection;
  }

  a:not(.unset) {
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    background-position: 0 100%;
    background-image: linear-gradient(
      to right,
      theme('colors.text.link'),
      theme('colors.text.link')
    );
  }

  a:not(.unset):hover {
    @apply text-text-link;
  }

  code {
    @apply font-code;
  }

  code:not(pre code):not(.unset) {
    @apply mb-[1.25em] rounded border border-solid border-border-code bg-bg-code py-0.5 px-1 text-[0.875em] text-text-code;
  }

  html.dark code:not(pre code) {
    @apply border-border-code/[0.15] bg-bg-code/[0.15];
  }

  ul:not(.unset):not(:where([class~='prose'] *)) {
    @apply list-none pl-0;
  }

  ul:not(:where([class~='prose'] *)) > li {
    @apply relative pl-5;
  }

  ul:not(.unset):not(:where([class~='prose'] *)) > li::before {
    @apply absolute left-0 text-text-muted content-['»'];
  }

  ol:not(.unset):not(:where([class~='prose'] *)) {
    @apply pl-[1.125rem];
  }

  ol:not(.unset):not(:where([class~='prose'] *)) > li::marker {
    @apply text-text-muted;
  }

  ul:not(.unset):not(:where([class~='prose'] *)) > li,
  ol:not(.unset):not(:where([class~='prose'] *)) > li {
    @apply my-[0.5em];
  }

  ::selection {
    @apply bg-bg-selection/70 text-text-selection;
  }

  .prose.prose-newspaper {
    @apply font-prose;
  }
}

@layer components {
  .prose-toc .active-header {
    @apply text-text-link
  }
}
