@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Tailwind colors listed here: https://tailwindcss.com/docs/customizing-colors
    
    Why colors are written in rgb format (255 255 255) instead of hex (#ffffff)
    https://tailwindcss.com/docs/customizing-colors#using-css-variables 
*/
@layer base {
  /* light theme */
  .theme-bubblegum {
    /* from blogster theme-bubblegum */
    --color-primary-blue: 138 230 251;
    --color-primary-green: 190 242 100;
    --color-primary-yellow: 255 222 105;
    --color-text-body: 40 39 40;
    --color-text-heading: 40 39 40;
    --color-text-bold: 40 39 40;
    --color-text-muted: 100 116 139;
    --color-text-link: 6 182 212;
    --color-text-code: 0 0 0;
    --color-text-selection: 251 254 251;

    --color-bg-body: 251 254 251;
    --color-bg-code: 254 243 199;
    --color-bg-selection: 0 108 172;
    --color-border-code: 255 237 213;
    --color-border-line: 236 233 233;

    /* from astro-paper theme */
    --color-fill: 251 254 251;
    --color-text-base: 40 39 40;
    --color-accent: 0 108 172;
    --color-card: 230 230 230;
    --color-card-muted: 205 205 205;
    --color-border: 236 233 233;
  }

  /* dark theme */
  .theme-bubblegum.dark {
    /* from blogster theme-bubblegum */
    --color-primary-blue: 59 130 246;
    --color-primary-green: 190 242 100;
    --color-primary-yellow: 255 222 105;

    --color-text-body: 234 237 243;
    --color-text-heading: 234 237 243;
    --color-text-bold: 234 237 243;
    --color-text-muted: 148 163 184;
    --color-text-link: 96 165 250;
    --color-text-code: 255 255 255;
    --color-text-selection: 0 0 0;

    --color-bg-body: 15 23 42;
    --color-bg-code: 14 165 233;
    --color-bg-selection: 217 249 157;

    --color-border-code: 254 243 199;
    --color-border-line: 236 233 233;

    /* from astro-paper theme */
    --color-fill: 33 39 55;
    --color-text-base: 234 237 243;
    --color-accent: 255 107 1;
    --color-card: 52 63 96;
    --color-card-muted: 138 51 2;
    --color-border: 171 75 8;
  }

  :root {
    @apply overflow-y-scroll scroll-smooth bg-bg-body font-body text-lg text-text-body;
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    @apply w-3;
  }
  ::-webkit-scrollbar-track {
    @apply bg-paper-fill;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-paper-card;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-paper-card-muted;
  }

  strong {
    @apply font-semibold text-text-bold;
  }

  mark {
    @apply bg-bg-selection text-text-selection;
  }

  a:not(.unset) {
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    background-position: 0 100%;
    background-image: linear-gradient(
      to right,
      theme('colors.text.link'),
      theme('colors.text.link')
    );
  }

  a:not(.unset):hover {
    @apply text-text-link;
  }

  code:not(pre code):not(.unset) {
    @apply mb-[1.25em] rounded border border-solid border-border-code bg-bg-code py-0.5 px-1 text-[0.875em] text-text-code;
  }

  html.dark code:not(pre code) {
    @apply border-border-code/[0.15] bg-bg-code/[0.15];
  }

  ul:not(.unset):not(:where([class~='prose'] *)) {
    @apply list-none pl-0;
  }

  ul:not(:where([class~='prose'] *)) > li {
    @apply relative pl-5;
    /* padding-left: 1.375rem; */
  }

  ul:not(.unset):not(:where([class~='prose'] *)) > li::before {
    @apply absolute left-0 text-text-muted content-['»'];
  }

  ol:not(.unset):not(:where([class~='prose'] *)) {
    @apply pl-[1.125rem];
  }

  ol:not(.unset):not(:where([class~='prose'] *)) > li::marker {
    @apply text-text-muted;
  }

  ul:not(.unset):not(:where([class~='prose'] *)) > li,
  ol:not(.unset):not(:where([class~='prose'] *)) > li {
    @apply my-[0.5em];
  }

  ::selection {
    @apply bg-bg-selection/70 text-text-selection;
  }
}

@layer components {
  /* ------ REUSABLE UTILS - START ------ */
  .animated-link {
    position: relative;
    text-decoration: none;
    box-decoration-break: clone;
  }

  .animated-link.show:after,
  .animated-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .animated-link:after {
    left: 0;
    right: 0;
    bottom: -3px;
    content: '';
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
    background-image: linear-gradient(
      to right,
      theme('colors.text.link'),
      theme('colors.text.link')
    );
  }
}
