---
import BlogPost from '@components/BlogPost.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import type { FrontMatter } from '@types'

const allPosts = await Astro.glob<FrontMatter>('../pages/posts/*.md')
---

<BaseLayout title="Blogs">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
