---
import { SITE } from '@config'
import DarkModeToggle from './DarkModeToggle.astro'
import Nav from './Nav.astro'
---

<header class="pt-8">
  <a
    class="unset absolute left-[50%] -top-[100rem] z-10 translate-x-[-50%] bg-white px-8 py-2 text-black focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <div class="mb-3 flex justify-between">
    <h1>
      <a
        href="/"
        class="unset my-3 overflow-hidden py-1 text-xl font-semibold sm:static sm:text-2xl"
      >
        {SITE.title}
      </a>
    </h1>
    <div class="flex gap-4 mb-2">
      <Nav />
      <DarkModeToggle />
    </div>
  </div>
  <!-- borderline -->
  <hr class="border-text-muted/30" />
</header>

<style>
  section {
    /* prettier-ignore */
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
  }
</style>
