---
import SkipToContent from '@components/SkipToContent.astro'
import { siteMetaData } from '@config'
import Nav from './Nav'
import ThemeToggle from './ThemeToggle'
---

<header class="my-4">
  <SkipToContent />
  <a
    href="/"
    class="unset absolute overflow-hidden py-1 text-xl font-semibold text-text-heading sm:static sm:text-2xl md:text-3xl"
  >
    <span
      class="bg-gradient-to-bl from-primary-blue to-primary-blue bg-[length:90%_40%] bg-bottom bg-no-repeat dark:from-primary-blue dark:to-primary-blue"
    >
      {siteMetaData.title}
    </span>
  </a>
  <div
    class="flex content-center items-center justify-self-end py-2 text-text-bold"
  >
    <Nav />
  </div>
  <ThemeToggle client:load />
  <div class="col-span-3 my-4 px-0">
    <hr class="border-border-line" />
  </div>
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    /* prettier-ignore */
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
  }
</style>
