---
import HeaderLink from './HeaderLink.astro'
import { navLinks } from '@config'
---

<>
  {
    navLinks.map(({ name, href }) => (
      <li>
        <HeaderLink href={href}>{name}</HeaderLink>
      </li>
    ))
  }
</>
