---
import HeaderLink from './HeaderLink.astro'

export interface Props {
  links: {
    name: string
    href: string
  }[]
}

const { links } = Astro.props
---

<>
  {
    links.map(({ name, href }) => (
      <li>
        <HeaderLink href={href}>{name}</HeaderLink>
      </li>
    ))
  }
</>
