---
export interface Props {
  url?: string
  title: string
  pubDate: Date
}
const { url, title, pubDate } = Astro.props

const formattedDate = pubDate.toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
})
---

<li
  class="flex justify-between flex-wrap"
>
  <div class="title">
    <a
      href={url}
      class="unset bg-gradient-to-r from-text-link to-text-link bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-[background-size] duration-300 hover:bg-[length:100%_2px] dark:from-text-link dark:to-text-link dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]"
    >
      {title}
    </a>
  </div> 
  <div class="pt-1 text-sm italic opacity-80">
    <time datetime={pubDate.toISOString()}>
      {formattedDate}
    </time>
  </div>
</li>
