---
import type { MarkdownHeading } from 'astro'

export interface Props {
  headings: MarkdownHeading[]
  depth?: number
}

const { headings, depth = 2 } = Astro.props
const firstLevelHeadings = headings.filter((h) => h.depth === depth)
---

<ul class="unset">
  {firstLevelHeadings.map((h) => <li><a href={`${Astro.url.pathname}#${h.slug}`}>{h.text}</a></li>)}
</ul>
