---
import IconLink from "@components/Link/IconLink.astro";

const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
  <hr class="border-border-line" />
  <div class="my-4 flex items-center justify-center text-center text-sm leading-[1.75]">
    <span>&#169; {currentYear}</span>
    <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
    <IconLink fromColor="yellow" toColor="yellow" iconClass="fa-brands fa-github">
      Github
    </IconLink>
  </div>
</footer>

<style>
  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: '';
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
