---
import BaseLayout from './BaseLayout.astro'

import type { FrontMatter } from '@types'

export interface Props {
  frontmatter: FrontMatter
}

const { frontmatter } = Astro.props

const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString(
  'en-us',
  {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  }
)
---

<BaseLayout title={frontmatter.title}>
  <section class="prose prose-bubblegum mx-auto">
    <h1>
      {frontmatter.title}
    </h1>
    <time class="mb-[2em] block text-text-muted">{formattedDate}</time>
    <slot />
  </section>
</BaseLayout>
